volumes:
  shared-workspace:
    name: distributed-file-system
    driver: local
    driver_opts:
      type: none
      o: bind
      device: .

services:
  zookeeper:
  image: bitnami/zookeeper:3.8.2-debian-11
  container_name: zookeeper
  ports:
    - "2181:2181"
  environment:
    - ALLOW_ANONYMOUS_LOGIN=yes

kafka:
  image: bitnami/kafka:3.6.1-debian-11
  container_name: kafka
  ports:
    - "9092:9092"
  environment:
    - BITNAMI_DEBUG=yes
    - KAFKA_ENABLE_KRAFT=false
    - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
    - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092
    - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
    - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=PLAINTEXT
    - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT
    - ALLOW_PLAINTEXT_LISTENER=yes
  depends_on:
    - zookeeper


  spark-master:
    image: spark-master:3.4.1
    container_name: spark-master
    ports:
      - "8080:8080"
      - "7077:7077"
    volumes:
      - shared-workspace:/opt/workspace

  spark-worker-1:
    image: spark-worker:3.4.1
    container_name: spark-worker-1
    environment:
      - SPARK_WORKER_CORES=1
      - SPARK_WORKER_MEMORY=512m
    ports:
      - "8081:8081"
    volumes:
      - shared-workspace:/opt/workspace
    depends_on:
      - spark-master

  spark-worker-2:
    image: spark-worker:3.4.1
    container_name: spark-worker-2
    environment:
      - SPARK_WORKER_CORES=1
      - SPARK_WORKER_MEMORY=512m
    ports:
      - "8082:8081"
    volumes:
      - shared-workspace:/opt/workspace
    depends_on:
      - spark-master

  jupyterlab:
    image: jupyterlab:4.0.2-spark-3.4.1
    container_name: jupyterlab
    ports:
      - "8888:8888"
      - "4040:4040"
    volumes:
      - shared-workspace:/opt/workspace
    depends_on:
      - spark-master
      - kafka
