services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.0
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.6.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  spark-master:
    build:
      context: .
      dockerfile: docker/spark-master/Dockerfile
    image: spark-master:3.4.1
    container_name: spark-master
    ports:
      - "8080:8080"
      - "7077:7077"

  spark-worker-1:
    build:
      context: .
      dockerfile: docker/spark-worker/Dockerfile
    image: spark-worker:3.4.1
    container_name: spark-worker-1
    depends_on:
      - spark-master
    ports:
      - "8081:8081"
    environment:
      SPARK_WORKER_CORES: "1"
      SPARK_WORKER_MEMORY: 512m

  spark-worker-2:
    build:
      context: .
      dockerfile: docker/spark-worker/Dockerfile
    image: spark-worker:3.4.1
    container_name: spark-worker-2
    depends_on:
      - spark-master
    ports:
      - "8082:8081"
    environment:
      SPARK_WORKER_CORES: "1"
      SPARK_WORKER_MEMORY: 512m

  jupyterlab:
    build:
      context: .
      dockerfile: docker/jupyterlab/Dockerfile
    image: jupyterlab:4.0.2-spark-3.4.1
    container_name: jupyterlab
    depends_on:
      - spark-master
      - kafka
    ports:
      - "8888:8888"
      - "4040:4040"
